<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="#">SocialSentinel</a></div>
            <ul>
                <li><a href="newschecker.html">NewsChecker</a></li>
            </ul>
        </div>
    </nav>
    <h1>The Social Sentinel: This project was made with the purpose of determining integrity of online articles.</p>
    <p1>Made for CincyHacks 2025 Hackathon</p1>
    <div class = "bold"><h2>CREDITS</h2></div>
    <p>Tejas Durgam-Chen: Presentation</p>
    <p>Daniel Gil: Front-End Development for the website</p>
    <p>Parth Patil: Front-End Development for the website</p>
    <p>Shlok Muley: Back-End Development (AI)</p>
</body>
</html>