<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Document</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        
    </head>
    <body>
        <header class="header">
        <h1 class=brand-name> Social Sentinels </h1>
        <a href="news.html" class="news_name"> <h2>SentinelNews</h2> </a>
        </header>
    </body>
</html>